.input {
  /* padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: white;
    height: 40px; */
  border-radius: 4px;
  width: 250px;
  height: 4vh;
  padding: 0.5rem;
  font-size: 1rem;
  background: white;
  border: none;
}
.input:focus {
  /* border: lightsalmon; */
  outline: none;
}
