.page {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 40vh;
  flex-direction: column;
}
.input {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
